
 
main {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) { 
#contenedorProductos {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  
}
.producto {
  width: 70%;
  height: 70%;
  background-color: grey;
  margin: 5px;
  border: 1px solid black;
  text-align: center;
  
} 
img {
  width: 70%;
  height: 70%;
}
.modal-contenedor{
  display:flex;
  align-items: center;
  gap:2rem;
}
.img-carrito{
  width:200px;
  padding:20px;
} 
}